# Turn on the engine
#RewriteEngine on

# Restrict those requests which do NOT start with index.php, etc. and take them to index.php anyway.
#RewriteCond $1 !^(index\.php|images|coursedata|assets|robots\.txt)
#RewriteRule ^(.*)$ /edusoc/index.php/$1 [L]

# Hotlink protection
# RewriteCond %{HTTP_REFERER} ^$
# RewriteCond %{HTTP_REFERER} !^http://([^./]+\.)?localhost [NC]
# RewriteRule \.(gif|jpe?g|png|mp4|bmp|js|css).*$ - [F]

#php_value upload_max_filesize 1000M
#php_value post_max_size 1000M

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>    

    ErrorDocument 404 /index.php
</IfModule>

